@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background: linear-gradient(
    67.6deg,
    rgb(225, 242, 254) -2.8%,
    rgb(193, 224, 250) 44.6%,
    rgb(19, 116, 197) 102.4%
  );
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 30px 50px rgba(85, 85, 85, 0.1);
  font-family: "Lato", sans-serif;
  color: rgb(45, 45, 45);
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 30px;
  margin-left: 20px;
}

.search-form {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  padding: 15px 20px;
  width: 85%;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  border: none;
  color: #ffffff;
  background-color: rgb(19, 116, 197);
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 16px;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 40px 0;
}

#icon {
  width: 120px;
  position: relative;
  top: 30px;
}

.temperature {
  font-size: 72px;
  font-weight: 800;
  margin-top: -80px;
}

#unit {
  font-size: 20px;
  position: relative;
  top: -38px;
  margin-left: 10px;
}

.humidity,
.wind,
.current {
  font-weight: bold;
}

#weather {
  font-style: italic;
}

.forecast {
  padding: 40px 0px;
  border-top: 1px solid rgba(85, 85, 85, 0.1);
  text-align: center;
  color: #7d7d7d;
  display: flex;
  justify-content: space-around;
}

.forecast-date {
  font-weight: bold;
}

.forecast-condition {
  font-style: italic;
  font-size: 14px;
}

.forecast-image {
  margin: -8px 0;
  width: 75px;
  padding: 8px 0;
}

.max-temperature {
  font-weight: bold;
}

.divider {
  border-top: 1px solid rgba(85, 85, 85, 0.1);
  padding: 20px 0;
}

footer {
  font-size: 12px;
  color: rgb(150, 150, 150);
  text-align: center;
  padding-top: 20px;
}

footer a {
  color: rgb(85, 85, 85);
}
